{% import ':Common/Macro:pagination.html.twig' as pagination %}
{% import ':Common/Macro:buttons.html.twig' as buttons %}
{% import ':Common/Macro:messages.html.twig' as messages %}
{% import ':Common/Macro:table.html.twig' as table %}

{% set definition = grid.definition %}
{% set data = grid.data %}

{% set path = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}

{% if definition.filters|length > 0 %}
    <div class="row">
        <form method="get" action="{{ path }}" class="form-inline">
            <div class="col-sm-6">
            {% for filter in definition.filters if filter.enabled %}
                {{ sylius_grid_render_filter(grid, filter) }}

                {% if loop.index0 % 2 %}
                    </div>
                    <div class="col-sm-6">
                {% endif %}
            {% endfor %}
            </div>
            <div class="btn-group">
                {{ buttons.filter() }}
                {{ buttons.resetFilters(path) }}
            </div>
        </form>
    </div>
{% endif %}

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">

                {#<h3 class="box-title">Hover Data Table</h3>#}
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                {% if data|length > 0 %}
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            {{ table.headers(grid, definition, app.request.attributes) }}
                        </tr>
                        </thead>
                        <tbody>
                        {% for row in data %}
                            {{ table.row(grid, definition, row) }}
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    {{ messages.info('sylius.ui.no_results_to_display'|trans) }}
                {% endif %}
                {{ pagination.simple(data) }}
            </div>
            <!-- /.box-body -->
        </div>
</div>
